:root {
    --shadow: inset 0px 0px 50px #001AFF;
    --bg: #FFFCBB;
}

* {
    box-sizing: border-box;
}

html {
    background: #8F9BDB;
}

.container div:nth-child(even) {
    box-shadow: inset 0px 0px 50px red;

}

.supercontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--bg);
    box-shadow: var(--shadow);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    /* animation: container 5s infinite alternate; */
    animation-timing-function: linear;
}

@keyframes container {
    from {
        transform: scaleX(1);
    }

    to {

        transform: scaleX(1.3);
    }
}

.box-1 {
    display: flex;
    width: 800px;
    height: 800px;
    margin-left: 100px;
    background: var(--bg);
    box-shadow: var(--shadow);
    animation: box-1 3s infinite alternate;
    animation-timing-function: linear;
}

@keyframes box-1 {
    from {
        margin-left: 100px;
    }

    to {

        margin-left: -100px;
    }
}


.box-1-1 {
    width: 50%;
}

.moving-1 {
    width: 400px;
    height: 400px;
    background: var(--bg);
    box-shadow: var(--shadow);
    animation: moving-1 3s infinite alternate;
    animation-timing-function: linear;
}

@keyframes moving-1 {
    0% {
        transform: translateY(0);
        height: 400px;
    }

    50% {
        height: 600px;
    }

    100% {
        transform: translateY(400px);
        height: 400px;
    }
}

.box-1-2 {
    height: 800px;
    width: 400px;
    border-radius: 50%;
    background: var(--bg);
    box-shadow: var(--shadow);
    animation: box-1-2 3s infinite alternate;
    animation-timing-function: linear;
}

@keyframes box-1-2 {
    from {
        height: 800px;
    }

    to {

        height: 400px;
    }
}

.box-2 {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin-left: 300px;
    background: var(--bg);
    box-shadow: var(--shadow);
}


.moving-2 {
    width: 400px;
    height: 400px;
    animation: moving-2 3s infinite alternate;
    animation-timing-function: linear;
    border-radius: 50%;
    background: var(--bg);
    box-shadow: var(--shadow);
}

@keyframes moving-2 {
    from {
        transform: translateX(400px) translateY(0);
    }

    to {
        transform: translateX(0);
    }
}

.box-2-1 {
    width: 100%;
    height: 400px;
    background: var(--bg);
    box-shadow: var(--shadow);
}

.box-2-2 {
    height: 400px;
    width: 800px;
    background: var(--bg);
    box-shadow: var(--shadow);
}

.moving-2-2 {
    width: 800px;
    height: 400px;
    background: var(--bg);
    box-shadow: var(--shadow);
    animation: moving-2-2 3s infinite alternate;
    animation-timing-function: linear;
}

@keyframes moving-2-2 {
    from {
        width: 500px;
        height: 200px;
    }

    to {
        width: 800px;
        height: 400px;
    }
}

.box-3 {
    display: flex;
    width: 800px;
    height: 800px;
    background: var(--bg);
    box-shadow: var(--shadow);
}

.box-3-1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    background: var(--bg);
    box-shadow: var(--shadow);
}

.moving-3-1 {
    width: 200px;
    height: 200px;
    background: var(--bg);
    box-shadow: var(--shadow);
    animation: moving-3-1 3s infinite alternate;
    animation-timing-function: linear;
}

@keyframes moving-3-1 {
    from {
        transform: translateX(200px) translateY(200px) rotate(0);
    }

    to {
        transform: translateX(0) translateY(0) rotate(90deg);
    }
}

.box-3-2 {
    height: 800px;
    width: 400px;
    background: var(--bg);
    box-shadow: var(--shadow);
    animation: moving-3-2 3s infinite alternate;
    animation-timing-function: linear;
}

@keyframes moving-3-2 {
    from {
        width: 200px;
    }

    to {
        width: 400px;
    }
}

.box-3-1-1 {
    width: 400px;
    height: 400px;
    background: var(--bg);
    box-shadow: var(--shadow);
}

.box-3-1-2 {
    width: 400px;
    height: 400px;
    background: var(--bg);
    box-shadow: var(--shadow);
    animation: box-3-1-2 3s infinite alternate;
    animation-timing-function: linear;
}

@keyframes box-3-1-2 {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(0.7);
    }
}

.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
    width: 800px;
    height: 800px;
    background: var(--bg);
    box-shadow: var(--shadow);

}

.box-4-1 {
    width: 800px;
    height: 800px;
    background: var(--bg);
    box-shadow: var(--shadow);
    animation: moving-4 3s infinite alternate;
    animation-timing-function: linear;
}

@keyframes moving-4 {
    from {
        height: 0;
    }

    to {
        height: 800px;
    }